<div class="form-group">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surface) }}
    {{ form_row(form.chambres) }}
    {{ form_row(form.personnes) }}
    {{ form_row(form.price) }}
    {{ form_row(form.image) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>