<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css"
          integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_gite') }}">Mes Gite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_reservation') }}">Mes Réservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_blog') }}">Mon Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_user') }}">Utilisateurs</a>
            </li>
        </ul>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('admin_home') }}" class="nav-link">Administration</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Mon profil</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"
        integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}
{% endblock %}
</body>
</html>
