{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1 class="mt-5">Votre compte {{ user.speudo }}</h1>

    {{ include('_flashes.html.twig') }}

    <div class="mt-3 card">
        <div class="card-body">
            <h4 class="card-title"> Mes informations</h4>
            <p class="card-text">
                <strong>Nom: </strong>{{ user.speudo }} <br>
                <strong>Email: </strong>{{ user.email }} <br>
            </p>
        </div>
    </div>

    <div class="mt-3 card">
        <div class="card-body">
            <h4 class="card-title">Mes reservations</h4>

            <table class="table mt-4">
                <thead class="thead">
                <tr>
                    <th>Arriver</th>
                    <th>Départ</th>
                    <th>Gite</th>
                    <th>Prix</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody class="tbody">
                {% for calendar in user.calendars %}
                    <tr>
                        <th>{{ calendar.start|date('d/m/Y') }}</th>
                        <th>{{ calendar.end|date('d/m/Y') }}</th>
                        <th>{{ calendar.gite.name }}</th>
                        <th>{{ calendar.gite.price }}</th>
                        <th><a href="{{ path('facture_pdf', {id: calendar.id}) }}" class="btn btn-primary btn-sm">Télécharger la facture</a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3 mb-5 card">
        <div class="card-body">
            <h4 class="card-title">Mes commentaires</h4>
            {% for commentBlog in user.commentBlogs %}
                <p class="mt-3 card-text">
                    <strong>article {{ commentBlog.commentBlog.id }}:</strong> {{ commentBlog.commentBlog.title }} <br>
                    <strong> commentaire {{ commentBlog.id }}: </strong>{{ commentBlog.commentaire }}
                </p>
                <div style="display: flex" class="mb-4">
                    <a href="{{ path('edit_compte', {id: commentBlog.id}) }}"
                       class="mr-1 btn btn-primary btn-sm">Modifier</a>
                    <form method="post" action="{{ path('delete_comment', {'id': commentBlog.id}) }}"
                          onsubmit="return confirm('Etes vous vraiment sur ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentBlog.id) }}">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
